<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body> <class="<%= page %>">

<% include partials/template/header.ejs %>
<!%setTimeout(function(){include partials/template/header.ejs }, 5000);%>
<!-- <button onclick="myFunction()"Try it</button-->
<script>
// function myFunction() {
  setTimeout(function(){document.getElementById('aap').className = 'waa'; }, 3000);
    // setTimeout(function(){ alert("Hello"); }, 3000);
// }
</script>
    <style>
    <%setTimeout(function(){%>
     <% include partials/template/header.ejs %>
     <%}, 500);%>
</style>

  <!-- <img id="sos" src="images/speakers/Lorenzo_Garcia_tn.jpg"> -->

     <div class="speakerslist">
    <section class="layout">
      <h1><i class="icon-calendar"></i>speaking at the Next Meeting</h1>
      <div class="Speakers">
        <!-- article.artist*>h3>{Title}^p>a[href="#"]>img.speaker[src="images/speakers/$#_tn.jpg" alt="Photo of $#"]^^p>Lorem -->
      <article class="artist">
        <h3>Art in Full Bloom<span class="small">with
      <a href="/speakers/Lorenzo_Garcia">Lorenzo Garcia</a></span></h3>
        <p><a href="#"><img src="images/speakers/Lorenzo_Garcia_tn.jpg" alt="Photo of Lorenzo_Garcia" class="speaker"></a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quae, amet quo distinctio nam odio aliquam, eius deleniti atque accusantium aspernatur maxime, obcaecati omnis hic tempora animi, non corrupti repellendus!</p>
      </article>
      <article class="artist">
         <h3>Art in Full Bloom<span class="small">with
      <a href="/speakers/Lorenzo_Garcia">Lorenzo Garcia</a></span></h3>
        <p><a href="#"><img src="images/speakers/Hillary_Goldwynn_tn.jpg" alt="Photo of Hillary_Goldwynn" class="speaker"></a></p>
        <p>In iusto ipsa, ipsam! Omnis quia nulla voluptatem excepturi deserunt unde consequuntur voluptate, ratione voluptates consectetur! Officiis dignissimos id, voluptas quos accusantium voluptatum, optio quam eos itaque excepturi nostrum voluptate.</p>
      </article>
      <article class="artist">
        <h3>title</h3>
        <p><a href="#"><img src="images/speakers/Riley_Rewington_tn.jpg" alt="Photo of Riley_Rewington" class="speaker"></a></p>
        <p>Veniam soluta totam laborum, architecto delectus vero quaerat quod. Numquam sapiente delectus, voluptatum nulla obcaecati cupiditate magnam excepturi ipsam accusamus rem nesciunt dolore ipsa eius possimus vero saepe exercitationem atque!</p>
      </article><!-- artist -->
      </div><!-- speakers -->
    </section><!-- layout -->
  </div><!--speakerslist -->
  
  	<section class="layout"><!-- html -->
  	 <div class="primary">
            
    <% include partials/content/whoarewe.ejs %>
    <% include partials/content/getbusy.ejs %>
    <% include partials/content/whoshouldcome.ejs %>
   	 </div><!-- primary -->

     <aside class="secondary">
       <article id="nextmeeting">
        <h1><i class="icon-calendar"></i>Next Metting</h1>
        <a href="#"><img src="images/misc/hotel_gwendoline.jpg" alt="location"></a>
       <!--  <p><img src="images/misc/hotel_gwendoline.jpg" alt="location">
       aaaaaaaaaaaaaaaaaa</p> -->
       <p>louis ME UNR looking for a full time or part time</p>

       </article><!-- nextmeeing -->

<!-- if y comment <persentage sign stuff the web ll act weird with showing somewhere too -->
       <% include partials/content/socialmedia.ejs %>  
       <% include partials/content/artworklist.ejs %>
	   </aside><!-- secondary -->
  	</section><!-- layout -->
    <% include partials/template/footer.ejs %>
   <% include partials/template/jsdefault.ejs %>
  </body>
</html>
