<footer>
<section class="layout">
<!--<p>Footer test goes here.</p>-->
<% include ../content/socialmedia.ejs %>
<!-- in nextmeeting under content folder its only socialmedia since footer has to go back up a golder to get to socialmedia vs socialm is in the same folder with thenextmeeting -->
</section><!--layout-->
</footer>