//speakers=====================
.speakers{
	.artist{
		@include clearfix;
		h3{
			padding-top: 10px;
			padding-bottom: 5px;
			border-bottom: 1px dotted $lightgray;
			margin-bottom: 5px;
		}//h3
		/* img{
			@include border-radius(5px);
			width: 120px;
			float: left;
			margin: {//sass is smart enough to conver it ot the appropriate css
				right: 10px;
				bottom: 10px;
			}//margin
		}//img */
	}//artist
}//speakers
#nextmeeting{
	@include clearfix;
	img{
		@include border-radius;
		width: 30%;
		max-width: 130px;//even with 30% if the screen is too big then the im is big
		float: left;
		margin-right: 3%;
	}//img
}//nexm

.socialmediaicons{
	.title{
		float: left;
	}
	ul{
		float:left;
		li{
			display: inline-block;//move all icon next to eachouter
			margin-left: 5px;
			img{
				width: 30px;
				@include border-radius(50%);//enven it is the default i can still modify it on top of that by 50%
			}//so even i set the default 5px but i can still overide it
			}//li
		}//ul
}//social
.pixgrid{
	@include border-radius;

	img{
	  width: 30%;
	  max-width: 120px;
	  cursor: pointer;//moause become a hand when it s over the image
 }//img
}//pix
