$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;
$dblp: #244578;//head footer
$lbc: #414141;//main background
$slb: #00FFFF;//icon in nav
$dybbmgb:  #33E6BF;//icon nav test
$dybbdgb:  #47DBA6;//p in speakerlist or main text
$dlb: #0099CC;//dark blue smooth sim to ligb dnu
$lg:  #E6F0FA;
$ligb: #2390b3; //light green blue 
$lb:  #4594E3;//light smooth dnu
$pb: #9999FF;//smooth purple blue dnu
$llb:  #33CCFF;//smooth little green blue didn use
$lg:  #99FF33;//title above img
$gb: #009999;


$font-primary: Merriweather, serif;//serif is a backup
$font-secondary: Bree Serif, serif;
